body {
  background-color: #c3cfe2;
  padding: 20px;
  margin: 10px;
}

.portfolio--grid {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.portfolio__item {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6697b3;
  border-radius: 10px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 20px;
}

.portfolio__item__img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.portfolio__item__img:hover {
  -webkit-animation: fade-out 500ms ease-out both;
          animation: fade-out 500ms ease-out both;
}

.portfolio__item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  background-color: #044c6b;
  opacity: 0;
}

.portfolio__item__button:hover {
  -webkit-animation: fade-in 500ms ease-out both;
          animation: fade-in 500ms ease-out both;
}

.button {
  border-radius: 6px;
  letter-spacing: 1px;
  width: 40%;
  height: 15%;
  background-color: whitesmoke;
  font-size: 14px;
  border: unset;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
  0% {
    opacity: 0;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.5;
  }
  0% {
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .portfolio--grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 500px) {
  .portfolio--grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */